BODY {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.textarea
{
    margin-bottom: 30px;
}
.limitedwidth
{
    max-width: 980px;
}
@media (min-width: 980px) {
    .limitedwidth
    {
        margin-left: auto;
        margin-right: auto;
    }
}
.sidemargins
{
    margin-left: 20px;
    margin-right: 20px;
}
@media (min-width: 1037px) {
    .limitedwidth.sidemargins
    {
        margin-left: auto;
        margin-right: auto;
    }
}
.orderform
{
    width: 100%;
    height: 2000px;
}
@media (min-width: 360px) {
    .orderform
    {
        height: 1900px;
    }
}
@media (min-width: 435px) {
    .orderform
    {
        height: 1800px;
    }
